# Ignorar configurações locais do VS Code
.vscode/

# Ignorar TUDO dentro de assets, exceto a pasta images e seu conteúdo
/assets/*
!/assets/images/
!/assets/images/**

# Ignorar pasta de design (arquivos de referência)
design/

# Ignorar template de README
README-template.md
